
    <!-- NAVBAR -->
    <nav class="navbar navbar-main navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/potepan/index.html"><%= image_tag("img/logo.png", :alt => "") %></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class=""><a href="/potepan/index.html">Home</a></li>
              <li class="active dropdown megaDropMenu">
                <a href="product_grid_left_sidebar" class="dropdown-toggle">Shop</b></a>
              </li>
              <li class="dropdown">
                <a href="about_us" class="dropdown-toggle">About US</a>
              </li>f
              <li class="dropdown">
                <a href="blog_left_sidebar" class="dropdown-toggle">blog</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
      </div>
    </nav>

  </div>
